body { font-family: arial, sans-serif; width: 660px; padding: 60px 100px; }
h1 { font-size: 100%; margin-bottom: 100px; }
h2 { font-size: 200%; }
table { width: 100%; }
th { text-align: left; padding-bottom: 10px; }
.bold { font-weight: bold; }
.centered { text-align: center; }
.numeric { text-align: right; }
.very-big { font-size: 200%; }
.uppercase { text-transform: uppercase; }
.left-margin { margin-left: 12px; }
.no-margin { margin: 0; }
.totals-row td { padding-top: 10px; }
